h2 {
  padding: 0 0 3%;
  color: #ed8524;
  font-size: 250%;
}

p {
  color: #8f858f;
  font-size: 150%;
}

.button-download {
  color: #ed8524;
  margin-left: 5%;
}

/* Top */

#nav-bar a {
  color: #ed8524;
  height: 10%;
}

#nav-bar a:hover {
  color: #8f898f;
}

.navbar-brand {
  font-size: 2rem;
  margin-right: 3%;
}

.navbar {
  background-color: #FDE49C;
}

.navbar-toggler-icon {
  width: 4rem;
  height: 4rem;
}

/* Top Image */
#top {
  text-align: center;
}

.image-text {
  position: absolute;
  width: 25%;
  left: 37%;
  z-index: 1;
  padding-top: 20px;
}

.img-div {
  position: relative;
}

/* Middle */
#middle {
  padding: 10%;
}

.heading {
  font-family: serif;
  font-size: 10vw;
  text-align: center;
  padding-bottom: 10%;
}

.below-heading {
  padding-top: 9%;
}

@media (max-width:765px) {
  .info-heading {
    margin-top: 50px;
  }
}

.kontakt {
  margin-bottom: 9%;
  padding-right: 5%;
}

.kontakt p {
  color: #40514E;
}

@media (max-width:765px) {
  .info {
    text-align: center;
  }
}

/* Speisekarte */
#speisekarte {
  padding: 5% 10%;
  background-color: #FDE49C;
}

#speisekarte p {
  color: #435560;
}

#speisekarte h1 {
  padding-bottom: 10%;
  text-align: center;
}

#speisekarte h3 {
  color: #ed8524;
  font-size: 3rem;
  font-weight: bold;
}

.vorspeise-img {
  width: 100%;
}

.vorspeise-text {
  padding: 7% 10% 10% 0;
}

/* Bottom */

#bottom {
  padding: 10% 5%;
}

.impressum {
  padding: 5%;
}

/* Vorspeisen */
#vorspeisen {
  padding: 0 7% 0 7%;
}

.vorspeise {
  padding-top: 5%;
  padding-left: 2%;
}

.clmn {
  padding: 3%;
}

#vorspeisen strong {
  color: black;
}

#vorspeisen h3 {
  font-size: 2.5rem;
  padding-bottom: 2%;
}

/* Impressum */
.impressum {
  text-decoration: none;
}
